%h2 Our Goals
%ul
  %li Quality food
  %li Low environmental impact
  %li Reduced cost

%h2 How We Get There
%ul
  %li Consolidated buying power
  %li Close relationships with local vendors
  %li In the co-op spirit, donating our time to make it all work
